/* Стили для поля ввода и кнопки */
.message-input {
   position: fixed;
   bottom: 0;
   width: calc(100% - 100px);
   background-color: #fff; /* Фон поля ввода и кнопки */
   padding: 40px 40px; /* Подстройте отступы по вашему усмотрению, добавив 20px справа */
   display: flex;
   align-items: center;
}

#message-text {
   width: 80%; /* Ширина поля ввода */
   height: 200px; /* Высота поля ввода */
   resize: none;
}

#send-button {
   width: 20%; /* Ширина кнопки отправки */
   height: 40px; /* Высота кнопки отправки */
   margin-left: 20px; /* Отступ справа от поля ввода */
}

/* Отступ между областью чата и полем ввода сообщения */
.chat-window {
   height: calc(100% - 2400px); /* Уменьшьте на 60px для отступа сверху и снизу */
   background-color: #fff9c0; /* Желтоватый фон */
   border: 1px solid #ccc; /* Рамка */
   overflow-y: scroll;
}

.dialog {
   display: none;
   position: fixed; /* Фиксированное позиционирование относительно вьюпорта */
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); /* Центрирование диалога */
   width: 80%; /* или любая фиксированная ширина */
   border: 1px solid #ccc;
   background-color: #fff;
   padding: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   z-index: 1001;
 }
 
 .dialog-row {
   width: 100%; /* Занимает всю ширину родительского элемента */
   margin-bottom: 10px; /* Отступ снизу для каждого поля */
 }

#actual-content,
#expected-content {
  width: 100%; /* Занимает всю ширину родительского элемента */
  height: 300px;
  box-sizing: border-box; /* Учитывать padding и border в ширине элемента */
}

#saveButton {
  width: auto; /* Позволяет кнопке занимать только необходимую ширину */
  padding: 10px 20px; /* Паддинг для кнопки */
}

.overlay {
   display: none;
   position: fixed; /* Фиксированное позиционирование относительно вьюпорта */
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
   z-index: 1000; /* Убедитесь, что оверлей находится выше всех других элементов */
 }
 .codearea {
   width: 100%;
   height: 100px;
   margin-top: 10px;
   font-family: monospace;
 }
